.heading{
    font-size: 25px;
    background-color: aqua;
    border: 10px solid black;
    width: 80%;
}
.btn-success:hover{
    background-color: midnightblue;
}
canvas{
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from {box-shadow:1px 1px 38px red;}
    to {box-shadow:1px 1px 38px green;}
}